apiVersion: v1
kind: Service
metadata:
  name: webapp-service
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
    - port: 80          # Port interne du Service
      targetPort: 3000  # Port du container
      nodePort: 30080   # Port exposé sur les nœuds (doit être entre 30000 et 32767)